body {
    background-color: rgb(211, 211, 148);
    font-family: inherit;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}


button {
    background-color: #83ae8b;
    border: none;
    color: black;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    color: #ffff;
    text-decoration: underline;
    transform: scale(1.2);
    transition: 0.5s ease;
    margin-top: 20px;
}



#app {
    background-color: aliceblue;
    padding: 50px;
    border-radius: 25px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
}


#presentacion {
    background-color: aliceblue;
    align-items: center;
    padding: 50px;
    border-radius: 25px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
}

#presentacion h1 {
    margin-top: 0;
}


